<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>Showing All Flights:</h1>

    <table id="flights-table">
        <thead>
        <tr id='rows'>
            <th>Airline:</th>
            <th>Airport:</th>
            <th>Flight Num:</th>
            <th>Departs</th>
            <th>Flight Info.</th>
        </tr>
        </thead>
        <tbody>
            <% flights.forEach(function(flight) { %> 
                
            <tr id='rows'>
                <td><%= flight.airline %></td>
                <td><%= flight.airport %></td>
                <td><%= flight.flightNo %></td>
                <td><%= flight.departs?.toLocaleString('en-US') %></td>
                <td><a href='/flights/<%=flight.id%>/show'>Details</a></td>
              
            </tr>
            <% }); %>
        </tbody>
    </table>
    <a id='new-flight' href='/flights/new'>Add New Flight</a>
    
</body>
</html>