<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Flight Details</title>
    <%- include('../partials/nav') %>
</head>
<body>
    <h1>Showing Flight: <%=flight.airline%>: <%= flight.flightNo %> </h1>

    <div>Flight:<span><%= flight.airline %></span> </div><br>
    <div>Airport: <span><%= flight.airport %></span></div><br>
    <div>Flight Number:<span><%= flight.flightNo %></span> </div><br>
    <div>Flight Date: <span><%= flight.departs?.toLocaleString('en-US') %></span></div><br>

    <h1>Book A Destination</h1>
    <form id='new-dest-form' action='/destinations/<%=flight.id%>/show' method='POST'>
        <label>Airline:</label>
        <select name='airport' id="time">
            <option value='AUS'>AUS</option>
            <option value='DFW'>DFW</option>
            <option value='DEN'>DEN</option>
            <option value='LAX'>LAX</option>
            <option value='SAN'>SAN</option>
        </select>
        <label>Destinations</label>
        <input type="datetime-local" id="time"
        name="arrival" required 
        min="2021-04-23T00:00" max="2022-04-23T00:00"><br><br>
        <input type='submit' value='Book Destination' id="time">    
    </form><br>



  <%  if(flight.destinations.length === 0){ %>
    <h1> No Destinations Yet</h1>
    <% }; %>

    <%  if(flight.destinations.length > 0){ %>
    <h1>Showing All Destinations</h1>
    <table id="flights-table">
        <thead>
        <tr id='rows'>
            <th>Airline:</th>
            <th>Arrival:</th>
        </tr>
        </thead>
        <tbody>
      <% flight.destinations.forEach((destination) => { %>                
            <tr id='rows'>
                <td><%= destination.airport %></td>
                <td><%= destination.arrival?.toLocaleString('en-US') %></td>              
            </tr>
        <% }); %>
        </tbody>
    </table>
<% }; %>

<%  if(ticket.length === 0){ %>
    <h1> No Tickets Yet</h1>
    <% }; %>

<% if(ticket.length > 0){ %>
    <h1>Showing Tickets</h1>
    <table id="flights-table">
        <thead>
        <tr id='rows'>
            <th>Seat:</th>
            <th>Price:</th>
        </tr>
        </thead>
        <tbody>
            <% ticket.forEach((ticket) => { %>
                
        <tr id='rows'>
            <td><%=ticket.seat%></td>
            <td>$<%=ticket.price%></td>
        </tr>     
        </tbody>
        <% }); %>
    </table>
<% }; %>
    <a id='new-flight' href='/flights/<%=flight._id%>/tickets/new'>Buy a New Ticket</a><br>
    <a id='new-flight' href='/flights'>Back</a>
</body>
</html>